@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
        
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    
}
.body{
    background-color: rgba(0, 0, 0, 0.271);
    /* opacity:0.5; */
}
h2{
    color: white;
}
.logoimage{
    max-height: 60px;
    max-width: 60px;
    min-height: 35px;
    min-width: 35px;
    border-radius: 30px;
    border:white 3px solid ;
}
button{
    /* height: 70px;
    width: 70px; */
    border-radius: 30px;
}
.logo{
    position:sticky;
    top: 20px;
    z-index: 2;
}
.hero_section{
    height: 95vh;
    
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      color:#f8f0a1;
      
      
    }
    .hero_section>section>h1:nth-child(1){
        font-size: 3em;
        color:#fdf8c1;
    
}
.hero_section>section>h1:nth-child(1)::after{
    font-size: 1em;
    content: "¡Hola, amigo!";
    
}
.hero_section>section>h1:nth-child(1):hover::after{
    /* font-size: 5em; */
    content: "Hello Friends";
    
}

.hero_section>section{
    /* text-align: center; */
    height: 90vh;
    padding-top: 40vh;
}


nav{
    height: 11vh;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); 
    font-size: 22px;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    
    
}


.bgvideo{
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.buttons-manideep {
    margin: 10%;
    text-align: center;
}

.btn-hover-student {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-student:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-student:focus {
    outline: none;
}

.btn-hover-student.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.websitebyus{
    padding: 5vw;
}
.website_card {
    background-color: white;
    border-radius: 20px;
    margin: 40px;
    padding: 15px;
    height: 40vh;
}

.website_card:hover {
    transform: scale(1.1, 1.1), translate(0, 4px);

}

.website-image{
    background-size: cover;
    height: 85%;
    width: 100%;
}
.website-image img{
    object-fit: contain;
}
.student_card{
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    height: 40vh;
    transition: transform 1s;
}
.student_card_home{
    background-color: white;
    border-radius: 20px;
    margin: 2vh 15px;
    padding: 15px;
    height: 54vh;
    transition: transform 1s;
}

.student_card:hover {
    transform: translate(0, -20px) scale(1.1);

}

.student-image {
    background-size: cover;
    height: 75%;
    width: 100%;
}

.student-image img {
    object-fit: contain;

}
.scroll{
    overflow-x: auto;
    scrollbar-width: 0px;
    scrollbar-color:transprant;
    width: 75%;
    
}





