.logoimage{
    height: 70px;
    width: 70px;
    border-radius: 75px;
    border:white 3px solid ;
}
button{
    /* height: 70px;
    width: 70px; */
    border-radius: 75px;
}
.logo{
    position:sticky;
    top: 20px;
    z-index: 2;
}
.hero_section{
    height: 100vh;
}
.hero_section>section{
    /* text-align: center; */
    height: 90vh;
    padding-top: 40vh;
}


nav{
    height: 11vh;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.bgvideo{
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}