.logoimage{
    height: 70px;
    width: 70px;
    border-radius: 75px;
    border:white 3px solid ;
}
button{
    /* height: 70px;
    width: 70px; */
    border-radius: 75px;
}
.logo{
    position:sticky;
    top: 20px;
    z-index: 2;
}
.hero_section{
    height: 94vh;
}
.hero_section>section{
    /* text-align: center; */
    height: 90vh;
    padding-top: 40vh;
}


nav{
    height: 11vh;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); 
}

.bgvideo{
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.buttons-manideep {
    margin: 10%;
    text-align: center;
}

.btn-hover-student {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-student:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-student:focus {
    outline: none;
}

.btn-hover-student.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.websitebyus{
    padding: 5vw;
}